* {
  min-height: 2px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
	border-radius: 0px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}
#181825

window#waybar.hidden {
  opacity: 0.0;
}

#workspaces button {
  all: initial;
  min-width: 8px;
  padding: 0px 15px;
  margin: 6.7px 0px;
  background-color: #3699bc;
  border: 2px solid #000000;
  color: #000000;
}

#1e1e2e

#workspaces button.active {
  color: #000000;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #000000;
  background-color: #f38ba8;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#backlight,
#custom-timeshift,
#custom-cpufreq,
#custom-yay,
#custom-updater,
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 2px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-diskspace{
  background-color: #cdd6f4;
  color: #000000;
  padding : 6px 12px ; 
  margin: 6px 3px ; 
  border-radius: 2px;
  border: 2px solid #000000;
}

#backlight{
  background-color: #cae00d ;
  border: 2px solid #000000;
  color: #000000;
}

#custom-ani-cli{
  background-color: #3cb371 ;
  border-radius: 2px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: #000000;
  border: 2px solid #000000;
}

#custom-ani-cli:hover {
	background-color: #3699bc;
} 

#custom-timeshift{
  background-color: #3699bc;
  color: #000000;
  border: 2px solid #000000;
}

#custom-timeshift:hover {
	background-color: #3699bc;
	color: #000000;
}

#custom-cpufreq{
  background-color: #f88379;
  border: 2px solid #000000;
}

#custom-yay {
  background-color: #3699bc;
  border: 2px solid #000000;
}

#custom-updater {
  background-color: #3cb371;
  border: 2px solid #000000;
}

#custom-power {
  margin-right: 6px;
  border: 2px solid #000000;
}

#custom-logo {
  padding-right: 10px;
  padding-left: 0px;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  border-radius: 2px;
  color: #000000 ;
  background-color: #f38ba8;
  border: 2px solid #000000;
}

#custom-logo:hover {
	background-color: #3699bc;
}

#memory {
  background-color: #fab387;
  border: 2px solid #000000;
}



#battery {
  background-color: #f38ba8;
  border: 2px solid #000000;
}

#battery:hover{
	background-color: #3699bc;
	color: #000000;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  border: 2px solid #000000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #a6e3a1;
  border: 2px solid #000000;
  color: #181825;
}

#backlight {
  background-color: #cdd6f4;
}

#wireplumber {
  background-color: #3cb371;
  border: 2px solid #000000;
}

#network {
  background-color: #3699bc;
  padding-right: 17px;
  border: 2px solid #000000;
}

#network:hover{
	background-color: #f38ba8;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #f88379 ;
  color: #000000;
  border: 2px solid #000000;

}

#clock:hover{
	background-color: #3cb371;
}

#custom-power {
  background-color: #f2cdcd;
  border: 2px solid #000000;
}

#custom-power:hover{
	background-color: #3699bc;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

