* {
	font: bold 13px  JetBrainsMono Nerd Font;
}

window#waybar {
  background-color: #000000;
	transition: opacity 0.3s ease-in-out;
	border: 1px solid #f38ba8;
	border-radius: 2px;
}
#workspaces {
	border-radius: 2px;
	margin: 7px 0px 7px 7px; /*top right bottom left*/
	padding: 0 10px;
	background-color: #f38ba8;
	border: 3px solid #3cb371;
}

#workspaces button {
    color: #000000;
    border-radius: 1px;
    border: none;
    padding: 0 5px;
    margin: 2px 0;
}

#workspaces button:hover{
	box-shadow: none;
	background: #f38ba8;

}

#custom-diskspace,
#backlight,
#custom-cpufreq,
#custom-yay,
#custom-updater,
#memory,
#custom-power,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
	color: #f38ba8;
}

#custom-timeshift{
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
	color: #f38ba8;
}

#custom-timeshift:hover{
	color: #3699bc;
}

#custom-ani-cli {
	border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
	color: #f38ba8;
}

#custom-ani-cli:hover{
	color: #3699bc;
}


#custom-logo {
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
	color: #3699bc;

}

#custom-logo:hover{
	color: #f38ba8;
}

#network {
  margin: 5px 3px;
  padding: 6px 12px;
	color: #f38ba8;
}

#network:hover{
	color: #3699bc;
}

#battery {
  margin: 6px 3px;
  padding: 6px 12px;
	color: #3699bc;
}

#battery.charging {
	color: #3699bc;
	border-bottom: 2px solid #3699bc;
}

#battery.warning,
#battery.urgent {
  color: #3699bc;
	border-bottom: 2px solid #3699bc;
}

tooltip {
  border-radius: 2px;
  padding: 10px;
  background-color: #3cb371;
}

tooltip label {
  padding: 12px;
  background-color: #000000;
}




