* {
	font-size: 15px;
	font-weight: bold;
	
}
#waybar {
	background-color: #000000;
	border-radius: 20px;
}

#workspaces {
	border-radius: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0 10px;
	background-color: #4C9B5B;
	margin-left: 5px;
}

#workspaces button {
    color: #F8F8F2;
    border-radius: 1px;
    border: none;
    padding: 0 5px;
    margin: 2px 0;
}

#workspaces button:hover{
	box-shadow: none;
	background: transparent;

}
#mpris,
#language,
#cpu,
#memory,
#disk,
#battery,
#pulseaudio,
#network,
#clock {
	margin: 5px 5px;

}

#mpris {
    padding: 0 10px;
}

#cpu,
#memory,
#disk {
    background: #56AE65;
    padding: 0 10px;
    border-radius: 2px;
}

#language {
    margin: 5px 5px;
    background-color: #4C9B5B;
    padding: 0 10px;
    border-radius: 2px;


}

#battery {
	margin-right: 10px;
}

#window {
	margin: 0 10px;


}

window#waybar.empty #window{
	color: transparent;

}

#tray {
    margin: 5px 10px;
    padding: 0 10px;

}

#tray > .active {
	background-color: transparent;
    border-radius: 2px;
    padding: 0 10px;

	

}

#custom-power {
    padding: 0 10px;
}

#custom-menu {
    padding: 0 10px;
    background-color: #3A794A;
    margin: 5px 5px;
    border-radius: 2px;

}

#custom-updates {
    margin: 5px 5px;
    padding: 0 10px;
    background-color: #56AE65;
    border-radius: 2px;
}

#pulseaudio {
    padding: 0 10px;
    border-radius: 2px;
    background-color: #56AE65;
}
